[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "lib/CMSIS-DSP"]
	path = lib/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
